//BASE
$bg-lastsong: #efefef;
$bg-spotify: #1DB954;
$bg-youtube: #FF0000;
$bg-instagram: #e56969;
//HOVER
$bg-h-lastsong: #acaaaa;
$bg-h-spotify: #0b6a2c;
$bg-h-youtube: #b90000;
$bg-h-instagram: #9e4b4b;